<p>Profile</p>
<nb-card>
    <nb-card-header>
        Po-Han Joe Huang
        <a target='_blank' href="https://www.linkedin.com/in/spyderhua"><nb-icon icon="linkedin-outline"></nb-icon></a>
    </nb-card-header>
    <nb-card-body>
        <img src='assets/photo.jpg' style="width: 201px; height: 277px;" >
        <p>Hi, I am Joe. I am a senior software engineer. I am interested in web development, database, and cloud computing. I am also interested in learning new technologies, such as ChatGPT and Copilot. I am a quick learner and a good team player. If you are interested in me, please contact me. Thank you.</p>
    </nb-card-body>
</nb-card>

<p>Work Experience</p>
<nb-accordion multi>
    <nb-accordion-item #item>
      <nb-accordion-item-header>
        Senior Engineer 
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        Winbond Electronics Corporation, Taichung, Taiwan
        December 2018-Present (3 years 11 months)
      </nb-accordion-item-body>
    </nb-accordion-item>
  
    <nb-accordion-item>
      <nb-accordion-item-header>
        Substitute Services (Educational services)
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        Education Bureau, Kaohsiung City Government, Kaohsiung, Taiwan
        January 2018-November 2018 (1 year)
      </nb-accordion-item-body>
    </nb-accordion-item>
  
    <nb-accordion-item>
      <nb-accordion-item-header>
        RD Intern
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        Microsoft Taiwan, Taipei, Taiwan
        July 2014-June 2015 (1 year)
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
  <p>Education</p>
  <nb-accordion multi>
    <nb-accordion-item #item>
      <nb-accordion-item-header>
        National Chiao Tung University (NCTU), Hsinchu, Taiwan
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        Master of Institute of Multimedia Engineering
        July 2015-November 2017
      </nb-accordion-item-body>
    </nb-accordion-item>
  
    <nb-accordion-item>
      <nb-accordion-item-header>
        Yuan Ze University (YZU), Chung-Li, Taiwan
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        Bachelor of Department of Computer Science and Engineering
        September 2011-June 2015
      </nb-accordion-item-body>
    </nb-accordion-item>